<!-- -------   HEADER    STARTS-------- -->
<header class="">
    <!-- -------   nav starts-------- -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" data-aos="fade-right" data-aos-duration="2000">
        <div class="container-fluid px-5">

            <div class="d-flex align-items-center justify-content-start logo_row">
                <i class="fa fa-plus"></i>
                <a class="navbar-brand ml-3" href="#">THEVOICE for Contributor</a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-5">
                        <a class="nav-link active" aria-current="page" href="#" data-aos="fade-down" data-aos-duration="4000">Home</a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link " href="#" data-aos="fade-down">About</a>
                    </li>

                    <li class="nav-item mx-5">
                        <a class="nav-link " href="#">Features</a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="nav-link " href="#">Contact</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn header_btn " type="submit">Get Started</button>
                </form>
            </div>
        </div>
    </nav>
        <!-- -------   nav ends-------- -->


    <div class="d-flex align-items-center justify-content-center ">
        <div class="landing_header_div">
            <div class="d-flex align-items-baseline" data-aos="fade-up" data-aos-duration="3000">
                <h1>Be TheVoice </h1>
                <img src="../../assets/images/first_header_image.jpg" alt="">
                <h1>Article</h1>
            </div>
            <div class="d-flex align-items-end middle_row" data-aos="fade-up" data-aos-duration="3000">
                <img src="../../assets/images/nobg_11-removebg-preview.jpg" alt="">
                <h1>Contributor and</h1>
            </div>
            <div class="d-flex align-items-end" data-aos="fade-up" data-aos-duration="3000">
                <h1>Earn Money.</h1>
                <p class="custom_line_height">Join as THEVOICE contributor. write something <br> interesting, watch your
                    audience grow and start to
                    <br> earn some money
                </p>
            </div>

            <div class="d-flex  align-items-center chart-block reveal">

                <div class="col-md-1">
                    <div class="d-flex align-items-baseline">
                        <i class="fas fa-chart-line"></i>
                        <div>
                            <p class="text-value">802m</p>
                            <p class="text-description">revenue</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-1">
                    <div class="d-flex align-items-baseline">
                        <i class="far fa-file-alt"></i>
                        <div>
                            <p class="text-value">120k</p>
                            <p class="text-description">revenue</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-1">
                    <div class="d-flex align-items-baseline">
                        <i class="fas fa-users"></i>
                        <div>
                            <p class="text-value">8k</p>
                            <p class="text-description">revenue</p>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="large-circle reveal">
        <div class="inner-circle reveal">
            <div class="appear">⟀</div>
        </div>
    </div>
</header>
<!-- -------   HEADER   ENDS -------- -->

<!-- -------   MAIN BODY    STARTS-------- -->

<main>
    <section class="d-flex align-items-center justify-content-center p-5 first_section reveal"
        style="background: black; color: white; opacity: 0.8">

        <p class="reveal">THEVOICE is an open platform where readers find <br>
            dynamic thinking, where expert and undiscovered <br>
            voices can share their writing on an topics. <br>
            Join as a contribitor now.
        </p>

    </section>

    <section class="p-7 second_section reveal">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 p-0">
                <h3 class="reveal">What Do You Get by Becoming a Contributor</h3>
                <p class="reveal">These are the benefit of joining TheVoice as<br>contributor
                    all of these are free so you won't <br> spend a single peny</p>
                <div class="link_placeholder mt-5 reveal">
                    <div class="link_circle">
                        <a href="" class="link_text">Get Started <i
                                class="fas fa-external-link-alt btn_link_icon"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="p-5 card reveal">
                    <h3>01</h3>
                    <h5 class="reveal">Weekly Writing Tips</h5>
                    <p class="reveal">You'll got writing tips that we'll send <br>
                        every week, you can read them to <br> improve your writing
                    </p>
                </div>
                <div class="p-5 card reveal">
                    <h3>03</h3>
                    <h5 class="reveal">Weekly Writing Tips</h5>
                    <p class="reveal">You'll got writing tips that we'll send <br>
                        every week, you can read them to <br> improve your writing
                    </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="p-5 card reveal">
                    <h3>02</h3>
                    <h5 class="reveal">Weekly Writing Tips</h5>
                    <p class="reveal">You'll got writing tips that we'll send <br>
                        every week, you can read them to <br> improve your writing
                    </p>
                </div>
                <div class="p-5 card reveal">
                    <h3>04</h3>
                    <h5 class="reveal">Weekly Writing Tips</h5>
                    <p class="reveal">You'll got writing tips that we'll send <br>
                        every week, you can read them to <br> improve your writing
                    </p>
                </div>

            </div>
        </div>

    </section>

    <section class="px-7 pb-5 third_section">
        <div class="row reveal">
            <div class="col-md-7 px-5">
                <div class="d-flex justify-content-start start_tab reveal">
                    <div class="sub_section_text">
                        <h3 class="reveal">Write</h3>
                        <p class="reveal">You'll got writing tips that we'll send <br>
                            every week, you can read them to <br> improve your writing
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-end middle_tab reveal">
                    <div class="sub_section_text">
                        <h3 class="reveal">Submit</h3>
                        <p class="reveal">You'll got writing tips that we'll send <br>
                            every week, you can read them to <br> improve your writing
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center reveal">
                    <div class="sub_section_text">
                        <h3 class="reveal">Get paid</h3>
                        <p class="reveal">You'll got writing tips that we'll send <br>
                            every week, you can read them to <br> improve your writing
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card p-5">
                    <h3 class="reveal">How THEVOICE Contributor <br> works</h3>
                    <p class="reveal">These are the benefit of joining TheVoice as<br>contributor
                        all of these are free so you won't <br> spend a single peny
                        <br> spend a single peny
                    </p>
                    <div class="link_placeholder mt-5 mb-4 reveal">
                        <div class="link_circle">
                            <a href="" class="link_text">Get Started <i
                                    class="fas fa-external-link-alt btn_link_icon"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="p-7 pb-5 fourth_section appear">
        <div class="row reveal">
            <div class="col-md-8 col-sm-12">
                <h3 class="reveal">Get the Mobile App to Make <br> it Easier to Write and Track <br> Down the Numbers</h3>
                <p class="reveal">These are the benefit of joining TheVoice as<br>contributor
                    all of these are free so you won't <br> spend a single peny</p>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-outline-dark btn-icon-text reveal"> <i
                            class="fa fa-apple btn-icon-prepend btn_icon"></i> <span class="d-inline-block text-left">
                            <small class="font-weight-light d-block">Download it on</small> App Store </span>
                    </button>
                    <button class="btn btn-outline-dark btn-icon-text reveal"> <i
                            class="fa fa-android btn-icon-prepend btn_icon"></i> <span class="d-inline-block text-left">
                            <small class="font-weight-light d-block">Get it on the</small> Google Play </span>
                    </button>
                </div>

            </div>
        </div>

    </section>

    <section class="overlay_section appear">
        <div class="row align-items-center text_row column_bg">
            <div class="col-md-7" style="position: relative;">
                <div class="small_overlay_cards first_position reveal">
                    <p class="card_text reveal">Earnings</p>
                    <p class="card_amount reveal">8,854</p>
                </div>
                <div class="small_overlay_cards second_position reveal">
                    <p class="card_text">Earnings</p>
                    <p class="card_amount">$683,42</p>
                </div>
                <div class="small_overlay_cards third_position reveal">
                    <p class="card_text">Earnings</p>
                    <p class="card_amount">91,310</p>
                </div>

                <div class="small_overlay_cards fourth_position reveal">

                    <p class="card_text">View Source</p>

                    <div class="d-flex align-items-center justify-content-between">
                        <div class="circle-wrap">
                            <div class="circle">
                                <div class="mask full-1">
                                    <div class="fill-1"></div>
                                </div>
                                <div class="mask half">
                                    <div class="fill-1"></div>
                                </div>
                                <div class="mask half">
                                    <div class="fill-2"></div>
                                </div>
                                <div class="inside-circle">
                                    <div class="text-center reveal">
                                        <p class="bold_small_text">831,207</p>
                                        <p class="tiny_text">View in Total</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="reveal">
                            <div class="d-flex align-items-baseline ">
                                <div class=" dot dot_1"></div>
                                <div>
                                    <p class="bold_small_text">374,031</p>
                                    <p class="tiny_text">revenue</p>
                                </div>

                            </div>
                            <div class="d-flex align-items-baseline">
                                <div class="dot dot_2"></div>
                                <div>
                                    <p class="bold_small_text">274,085</p>
                                    <p class="tiny_text">revenue</p>
                                </div>

                            </div>
                            <div class="d-flex align-items-baseline">
                                <div class="dot dot_3"></div>
                                <div>
                                    <p class="bold_small_text">112,345</p>
                                    <p class="tiny_text">revenue</p>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-5">
                <h3 class="reveal">Start Earning With <br> TheVoice Today</h3>
                <p class="reveal">These are the benefit of joining TheVoice as<br>contributor
                    all of these are free so you won't <br> spend a single peny</p>
                <div class="link_placeholder mt-5 reveal">
                    <div class="link_circle">
                        <a href="" class="link_text">Get Started <i
                                class="fas fa-external-link-alt btn_link_icon"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

<!-- -------   MAIN BODY    ENDS-------- -->


<!-- -------   FOOTER    STARTS-------- -->

<footer style="background-color: black; height: 65vh;" class="d-flex align-items-end justify-content-center">

    <div class="text-center">
        <i class="fa fa-plus reveal" style="color: #43e2ae; font-size: 3rem;"></i>
        <nav class="navbar navbar-expand-lg my-5">
            <div class="container p-3">
                <div class="copy appear">About</div>
                <div class="copy appear">Features</div>
                <div class="copy appear">Downloads</div>
                <div class="copy appear">Contact</div>
                <div class="copy appear">Privacy & Terms of Service</div>
            </div>
        </nav>
        <div class="copy mb-5">©2022 THE VOICE All Right Reserve</div>
    </div>


</footer>
<!-- -------   FOOTER    ENDS-------- -->
